* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f2ea;
    padding: 20px 50px;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 45px;
    width: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-size: bold;
    letter-spacing: 1px;
}

.navbar ul li.highlight a:hover {
    background-color: goldenrod;
    color: white;
    padding: 8px 18px;
    border-radius: 20px;
}

.navbar ul li a:hover {
    background-color: goldenrod;
}

.atas {
    height: 500px;
    background-color: #cfe0c3; 
}

.navbar ul li.vip a {
    font-weight: bold;
    background: linear-gradient(90deg, red, orange, yellow, lime, cyan, blue, pink,red);
background-size: 400% 100%;
-webkit-background-clip: text;
background-clip: text;
color: transparent;
animation: rainbow-move 4s linear infinite;
}

.navbar ul li.vip a:hover {
    background-color: goldenrod;
    padding: 8px 18px;
    border-radius: 20px;
}

.navbar ul li.vip a:hover {
    background-color: goldenrod;
}

@keyframes rainbow-move {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 400% 50%;
    }
}


    